* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 共通レイアウト */
.heading {
  font-size: 32px;
  text-align: center;
}
.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0;
  background-color: #ec715f;
}
.heading-text {
  text-align: center;
  padding: 30px 0;
  font-size: 16px;
}
.bg-gy {
  background-color: #ECEFF1;
}

/* ヘッダー部分 */
header {
  background-color: #ec715f;
}
.header-logo img {
  height: 70px;
}
nav {
  height: 70px;
  width: 1024px;
  margin: 0 auto;
  display: flex;
}
nav ul {
  list-style: none;
  line-height: 70px;
  margin-left: auto;
  display: flex;
}
nav li {
  font-size: 16px;
  color: #fafafa;
  padding: 0 30px;
}


/* メインビジュアル部分 */
.main-visual {
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: bottom;
  color: #FAFAFA;
  text-align: center;
}
.main-visual-head {
  font-size: 64px;
  padding-top: 200px;
}
.main-visual-text {
  font-size: 20px;
  padding-top: 10px;
}

/* ポートフォリオ部分 */
.portfolio {
  color: #000000;
}
.portfolio-area {
  width: 920px;
  margin: 0 auto;
  padding: 90px 0;
}
.portfolio-box {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-box .box {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}
.portfolio-box .box:nth-child(3n) {
  margin-right: 0;
}
.portfolio-box .box:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-box .box:nth-child(1) {
  background-image: url(img/sketch.jpg);
}
.portfolio-box .box:nth-child(2) {
  background-image: url(img/webcamp.png);
}
.portfolio-box .box:nth-child(3) {
  background-image: url(img/write.jpg);
}
.portfolio-box .box:nth-child(4) {
  background-image: url(img/websuku.png);
}
.portfolio-box .box:nth-child(5) {
  background-image: url(img/talk.jpg);
}
.portfolio-box .box:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

/* 特徴部分 */
.feature-area {
  width: 980px;
  margin: 0 auto;
  padding: 90px 0;
  color: #000000;
}
.feature-box-area {
  display: flex;
}
.feature-box {
  margin-right: 10px;
  text-align: center;
}
.feature-box:last-child {
  margin-right: 0;
}
.feature-box i {
  font-size: 60px;
}
.feature-box p {
  padding: 0;
  text-align: left;
}
.feature-box h3 {
  padding: 10px 0;
  font-size: 20px;
}

/* プロフィール部分 */
.profile-area {
  margin: 0 auto;
  width: 1024px;
  padding: 90px 0;
}
.profile-contents {
  display: flex;
}
.profile-image {
  width: 512px;
  text-align: center;
}
.profile-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.profile-text {
  width: 512px;
}
.profile-text h3 {
  margin-bottom: 5px;
}
.profile-text p {
  margin-bottom: 20px;
}

/* 連絡先部分 */
.contact {
  padding: 90px 0;
}
.contact-area {
  width: 800px;
  margin: 0 auto;
}
.contact-contents {
  display: flex;
}
.contact-contents h3 {
  margin-bottom: 5px;
}
.contact-contents p {
  margin-bottom: 20px;
}
.adress {
  width: 400px;
}
.adress-box {
  width: 130px;
  margin: 0 auto;
}
.adress a {
  color: #000000;
}
.sns {
  width: 400px;
}
.sns-box {
  width: 200px;
  margin: 0 auto;
}
.sns i {
  font-size: 50px;
  margin-right: 20px;
}

/* フッター部分 */
footer {
  height: 60px;
  font-size: 16px;
  color: #FAFAFA;
  background-color: #ec715f;
  line-height: 60px;
  text-align: center;
}

@media screen and (max-width:768px) {
  /* ヘッダーの変更 */
  .header-logo img {
    height: 50px;
  }
  nav {
    width: 90%;
    height: 50px;
  }
  nav ul, nav li {
    display: none;
  }
  .hamburger-icon {
    border: 1px solid #FAFAFA;
    height: 40px;
    width: 40px;
    margin: 5px 5px 5px auto;
    padding: 10px 5px;
  }
  .hamburger-icon span {
    margin: 0 auto;
    width: 24px;
    border: 1px solid #FAFAFA;
    display: block;
  }
  .hamburger-icon span:nth-child(1),
  .hamburger-icon span:nth-child(2) {
    margin-bottom: 5px;
  }
  /* メインビジュアルの変更 */
  .main-visual {
    background-image: url(img/code.png);
  }
  .main-visual-area {
    width: 90%;
    margin: 0 auto;
  }
  .main-visual-head {
    font-size: 40px;
  }
  .main-visual-text {
    font-size: 18px;
  }
  /* ポートフォリオの変更 */
  .portfolio-area {
    width: 90%;
    margin: 0 auto;
  }
  .portfolio-box {
    display: block;
  }
  .portfolio-box .box {
    margin: 0 auto 10px;
  }
  .portfolio-box .box:nth-child(3n) {
    margin: 0 auto 10px;
  }
  .portfolio-box .box:nth-child(n+4) {
    display: none;
  }
  .portfolio-box .box:nth-child(1) {
    background-image: url(img/webcamp.png);
  }
  .portfolio-box .box:nth-child(2) {
    background-image: url(img/websuku.png);
  }
  .portfolio-box .box:nth-child(3) {
    background-image: url(img/webcamp-mother.png);
  }
  /* 特徴の変更 */
  .feature-area {
    width: 90%;
  }
  .feature-box-area {
    display: block;
  }
  .feature-box {
    margin: 0 auto 10px;
  }
  /* プロフィールの変更 */
  .profile-area {
    width: 90%;
  }
  .profile-contents {
    display: block;
    text-align: center;
  }
  .profile-image {
    margin: 0 auto;
  }
  .profile-text {
    margin: 0 auto;
  }
  .profile-text h3 {
    margin: 20px auto 5px;
  }
  .profile-text p {
    margin-bottom: 0;
  }
  /* 連絡の変更 */
  .contact-area {
    width: 90%;
  }
  .contact-contents {
    display: block;
    text-align: center;
  }
  .adress, .sns {
    margin: 0 auto;
  }
  .sns i {
    margin-right: 8px;
  }
  .sns i:last-child {
    margin-right: 0;
  }
}